.btn-success {
    color:blue;
    background-color: orange;
}
.btn {
    color:red;
    background-color: yellow;
}
.btn.btn-success{
    color:lightgreen;
    background-color: darkgreen;
}
.border {
    border-style: solid;
}
